services:
  backend:
    build: ../../backend
    container_name: backend
    restart: unless-stopped
    environment:
      - FLASK_ENV=staging

  webui:
    build: ../../ui
    container_name: webui
    restart: unless-stopped
    environment:
      - VITE_ENV=staging

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - webui

volumes:
  caddy_data:
  caddy_config:
